body {
    color: white;
    background-color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    max-height: 100%;
}
/*começo do header*/
.header {
    width: 100%;
    background-color: rgb(15, 15, 15);
    justify-content: space-between;
}

.logo {
    vertical-align: center;
    width: 140px;
    height: 100px;
    float: left;
}

#menuToggle {
    display: none;
}

.menu-icon {
    display: none;
}

.header a {
    text-decoration: none;
    color: white;
}

.header ul {
    padding-top: 25px;
    vertical-align: center;
}

.fa-search {
    padding-top: 10px;
}
/*fim do header*/

/*começo da área de lançamentos*/
.lancamentos {
    padding: 20px;
    padding-right: 10px;
    flex-wrap: wrap;
    display: flex;
    background-color: rgb(43, 43, 43);
}

.lancamentos iframe {
    width: 100%;
    height: 100%;
    padding: 0 10px 10px 10px;
}

.carousel-lancamentos {
    justify-content: space-between;
    margin: 0;
    width: 94%;
    height: 94%;
    padding: 0 5% 9% 5%;
    flex-wrap: wrap;
    display: flex;
}

.carousel-control-prev {
    width: 32px;
}

.carousel-control-next {
    width: 32px;
}

.main-infos {
    display: flex;
    justify-content: space-between;
}

.lancamentos h1 {
    padding: 20px 0 40px 0;
    text-align: center;
}

.lancamentos h2 {
    font-size: 26px;
}

.lancamentos h3 {
    font-size: 13px;
    font-weight: bold;
}

.lancamentos h4 {
    font-size: 13px;
    font-weight: normal;
}

.lancamentos span {
    font-weight: normal;
}
/*fim da área de lançamentos*/

/*começo da área de destaques*/
.destaques {
    padding: 30px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.destaques h1 {
    padding: 10px 0;
}
.btn-group {
    width: 20%;
    border-radius: 40px;
    background-color: black;
    right: 100px;

}

.botao-destaques {
    width: 100%;
    height: 100%;
    padding-top: 22px;
    text-align: end;
}

.dropdown-item {
    color: white;
}

.dropdown-menu {
    background-color: black;
    padding: 4px 4px 4px 4px;
}
.destaques img {
    border-style:solid;
    border-color: rgb(56, 56, 56);
    width: 100%;
    height: 95%;
    margin-bottom: 20px;
}

.carousel-mobile {
    display: none;
}

/*fim da área de destaques*/

/*começo da área de avaliações*/
.avaliacoes {
    height: 100%;
    width: 100%;
    padding: 30px 30px 30px 30px;
    color: black;
}

.avaliacoes h1 {
    color: white;
    padding: 10px;
}

.avaliacoes h2 {
    color: black;
    font-size: 14px
}

.avaliacoes h3 {
    margin-top: 50px;
    font-size: 15px;
}
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: rgb(43, 43, 43);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: rgb(43, 43, 43);
    background-color: rgb(43, 43, 43);
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: rgb(43, 43, 43);
    background-color: #242424;
    border-color: #242424;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #242424;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: rgb(43, 43, 43);;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(43, 43, 43);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #242424;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #242424;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.botao-mais-avaliacoes {
    text-align: end;
}

.fa-plus {
    margin-right: 7px;
}

/*fim da área de avaliações*/

/*começo da área de entrevistas e making of*/
.entrev-makingof {
    padding: 30px;
    background-color: rgb(43, 43, 43);
    width: 100%;
    flex-wrap: wrap;
}

.entrev-makingof h1 {
    padding: 10px;
}
.conteudo-entrev {
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 7px;
}

.conteudo-entrev iframe {
    padding: 5px;
}

.entrev-makingof h2 {
    font-weight: bold;
    font-size: 20px;
    padding: 0 5px 0 5px;
}

.entrev-makingof h3 {
    font-weight: bold;
    font-size: 13px;
    padding: 0 5px 0 5px;
}

.entrev-makingof span {
    font-weight: normal;
}

.botao-mais-videos {
    text-align: end;
}

.fa-plus {
    margin-right: 7px;
}
/*fim da área de entrevistas e making of*/

/*começo da área de variados*/
.variados {
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: inline-flex;
}
/*começo da área de novidades*/

.variados h1 {
    padding: 10px;
}

.conteudo-novidades {
    padding: 10px;
    flex-wrap: wrap;
}

.news-1, .news-2, .news-3 {
    flex-wrap: nowrap;
    margin-bottom: 7%;
    display: inline-flex;
    border-style: ridge;
    border-color: white;
    padding: 5px;
    border-radius: 10px; 
}

a {
    text-decoration: none;
    color: white;
}

.news-1 img, .news-2 img, .news-3 img {
    margin-right: 8px;
    width: 26.6%;
    height: 81%;
}

.news-1 h2, .news-2 h2, .news-3 h2 {
    font-size: 13px;
    font-weight: bold;
}

.tag-news {
    display: inline-flex;
}

.tag-news h3 {
    font-size: 10px;
    background-color: black;
    height: 20px;
    vertical-align: center;
    text-align: center;
    padding: 3px 12px;
    margin: 5px;
    border-radius: 20px;
}
/*fim da área de novidades*/

/*começo da área de "sobre"*/
.infos-gerais {
    flex-wrap: wrap;
}

.infos-gerais h1, .infos-gerais h2, .infos-gerais p {
    padding-left: 10px;
}

.infos-gerais h1 {
    padding-bottom: 0px;
}

.infos-gerais h2 {
    padding-left: 14px;
    font-size: 14px;
    font-weight: bold;
}

.infos-gerais span {
    font-weight: normal;
}

.fa-user {
    font-size: 14px;
    padding-right: 5px;
}

.fa-instagram, .fa-whatsapp, .fa-facebook-f {
    margin: 10px;
    font-size: 1.7em;
}

/*fim da área de "sobre"*/

/*fim da área de variados*/

/*início da área de footer*/
.footer {
    height: 100%;
    background-color: rgb(43, 43, 43);
    display: inline-flex;
    justify-content: space-between;
}

.footer span {
    font-weight: normal;
}
.footer h1 {
    float: center;
    font-weight: bold;
    text-align: start;
    padding: 40px 40px 40px 40px;
    font-size: 100%;
}

.footer img {   
    width: 140px;
    height: 100px;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .header {
        position: relative;
        top: 0px;
        width: 100%;
    }

    .header nav {
        width: 100%;
        height: 100%;
    }

    .justify-content-end {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        align-content: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0%;
        overflow: hidden;

        transition: height 0.3s;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -o-transition: height 0.3s;
    }

    .justify-content-end li, .justify-content-end form {
        display: block;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .justify-content-end li a {
        display: block;
        text-align: center;
        width: 100%;
    }

    .menu-icon {
        display: flex;
        float: right;
        z-index: 999;
        font-size: 1.7em;
        padding-top: 35px;
        padding-right: 20px;
    }

    #menuToggle:checked ~ label i:nth-child(2) {
        display: block;
    }

    #menuToggle:checked ~ label i:first-child {
        display: none;
    }

    #menuToggle:not(checked) ~ label i:first-child {
        display: block;
    }

    #menuToggle:not(checked) ~ label i:nth-child(2) {
        display: none;
    }

    #menuToggle:not(checked) ~ ul {
        display: none;
    }

    #menuToggle:checked ~ ul {
        display: block;
    }
}
@media screen and (max-width: 575px) {
    .destaques h1 {
        font-size: 1.4em;
    }

    .destaques div.col-sm-5 {
        display: none;
    }

    .carousel-mobile {
        display: block;
    }

    .carousel-mobile img {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 395px) {
    .botao-destaques {
        float: right;
    }
}

@media screen and (max-width: 320px) {
    .botao-destaques {
        display: none;
    }

    .super-heroi {
        height: 350px;
    }
}
